/* CSS Resets */
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: var(--primary-font);
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:link,
a:visited {
  color: inherit;
  text-decoration: none;
}

button {
  background: none;
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}

li {
  list-style: none;
}

/* Color Scheme */
:root {
  --primary-light: #f2f0ea;
  --text-dark: #000;
  --text-light: #f8f8ff;
  --primary-accent: #3e7aca;
  --gradient-dark: #0851b2;
  --gradient-light: #3879d0;
}

/* Fonts  */
:root {
  --header-font: 'Lora', serif;
  --header-font-alt: 'Varela Round', sans-serif;
  --primary-font: 'Open Sans', sans-serif;
}

/* Utilities */
.container {
  width: 95%;
  max-width: 1100px;
  margin: auto;
}

.flex {
  display: flex;
}

.hrzn-right {
  justify-content: flex-end;
}

.hrzn-left {
  justify-content: flex-start;
}

.cntr-hrz {
  justify-content: center;
}

.cntr-vert {
  align-items: center;
}

.cntr-txt {
  text-align: center;
}

.rgt-text {
  text-align: right;
}

.spc-btwn {
  justify-content: space-between;
}

.spc-arnd {
  justify-content: space-around;
}

.grid {
  display: grid;
}

.primary-layout {
  grid-template-columns: 350px 1fr;
  gap: 70px;
}

.nav-right > :last-child {
	margin-right: 0px;
}

/* Components */

/* Burger */
.burger {
  height: 50px;
  width: 50px;
  position: relative;
  cursor: pointer;
  text-align: left;
  z-index: 999;
  display: none;
}

.burger__line {
  position: relative;
  width: 75%;
  margin: 0 auto;
  height: 2px;
  background: var(--text-dark);
  border-radius: 3px;
  transition: transform 0.5s linear, background 0.5s linear;
}

.burger__line:before,
.burger__line:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: 3px;
  transition: transform 0.5s linear, background 0.5s linear;
}

.burger__line:before {
  top: -10px;
}

.burger__line:after {
  bottom: -10px;
}

.burger.active .burger__line {
  transform: rotate(45deg);
}

.burger.active .burger__line::before {
  transform: translateY(10px) rotate(90deg);
}

.burger.active .burger__line::after {
  transform: translateY(-10px) rotate(360deg);
}

/* General/Universal Styling */

body {
  font-size: 1.6rem;
  width: 100%;
  overflow-x: hidden;
}

section.primary {
  padding: 10rem 0;
}

.bg-shape {
  position: absolute;
  z-index: -1;
	fill: transparent;
}

/* Section Specific Styling */

/* Nav */
.main-nav {
  padding: 2rem 8rem;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: white;
  z-index: 100;
  gap: 15px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}

.main-nav__logo {
  width: 50px;
  height: auto;
  border-radius: 10px;
  margin-right: 1.5rem;
}

.main-nav__links {
  transition: height 0.5s ease-in-out;
}

.main-nav__links .site-link {
  margin: 0 1.8rem;
  font-size: 1.8rem;
  font-weight: 300;
}

.abc-nav-icon {
  max-width: 75px;
  border-radius: 11px;
  margin: 0 1rem;
}

header {
  position: relative;
  color: var(--text-light);
  padding: 8rem 0 15rem 0;
  /* clears way for nav */
  margin-top: 90px;
}

header:after {
  content: '';
  position: absolute;
  z-index: -2;
  top: 0;
  left: -50%;
  width: 150%;
  height: 100%;
  border-bottom-left-radius: 100%;
  background: linear-gradient(var(--gradient-dark), var(--gradient-light));
}

.head {
  position: relative;
}

.head > div {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.head_img {
	width: 450px;
	height: 325px;
}

.head__title {
  margin-bottom: 2rem;
  font-family: var(--header-font-alt);
}

.head__subtitle {
  margin-bottom: 3rem;
}

header .btn {
  background: rgba(255, 255, 255, 0.5);
  padding: 1.3rem 4rem;
  border-radius: 50px;
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.5s ease;
}

header .btn:hover {
  background: rgba(255, 255, 255, 0.3);
}
/* About */

.about {
  position: relative;
}

.about-img-container {
  width: 100%;
}

article.about-text {
  flex: 0 0 50%;
}

.img {
  max-width: 300px;
  max-height: 300px;
}

/* How To */
.how-to {
  position: relative;
}

.how-to:after {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: -25%;
  width: 150%;
  height: 100%;
  background: var(--primary-light);
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

.how-to > div {
  width: 60%;
}

/* Download */
.download-img-container {
  flex: 0 1 300px;
  height: 300px;
}

.section-title {
  font-family: var(--header-font);
  margin-bottom: 30px;
}

.section-text {
  line-height: 35px;
}

.download .section-text {
  margin-bottom: 2rem;
}

.download-img-anchor {
  display: inline-block;
}

.download-img-anchor img {
  max-width: 160px;
  padding: 0;
  vertical-align: bottom;
}

section.download {
  padding-bottom: 0;
}

/* p {
  max-width: 500;
} */

/* img {
  max-width: 500;
  width: 75%;
} */

/* Footer */

footer {
  background: var(--primary-accent);
  color: var(--text-light);
}

.footer-nav {
  padding: 1.5rem 8rem;
}
.footer-contact {
  padding: 1rem 8rem;
}

.footer-nav__link {
  margin: 0 2rem;
}

.footer-docs__link:first-child {
  margin-left: 0px;
}

.footer-contact__link,
.footer-docs__link {
  margin: 0 1rem;
}

.ftr-divide {
  height: 2px;
  margin: 0.5rem 0;
  background-color: white;
}

.icon {
  width: 25px;
}

/* Media Queries */

@media (max-width: 992px) {
  .main-nav {
    padding: 2rem;
  }

  .main-nav__links .site-link {
    margin: 0 0.6rem;
  }
	.head_img {
		width: 320px;
		height: 230px;
	}

  .primary-layout {
    grid-template-columns: 1fr;
    text-align: center;
    gap: 20px;
  }

  .how-to > div {
    width: 85%;
  }

  .download-img-anchor {
    margin-bottom: 4rem;
  }

  .footer-nav__ul {
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .main-nav {
    /* justify-content: flex-start; */
    padding: 2rem 2rem;
    gap: 10px;
  }

  .main-nav > ul {
    height: 0;
    overflow: hidden;
    position: absolute;
    flex-direction: column;
    right: 0;
    top: 90px;
    background: white;
    left: 0;
    text-align: center;
    row-gap: 20px;
    box-shadow: 0 3px 2px -2px rgba(0, 0, 0, 0.2);
  }

  .burger.active + .main-nav__links {
    height: 200px;
  }

  .burger {
    display: inherit;
  }

  .how-to:after {
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 30%;
  }

  .head > .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

	.head > div > :last-child {
		display: none;
	}

  .download .container {
    width: 100%;
  }

  .footer-nav__ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 15px;
    text-align: center;
  }
  .footer-nav__ul > li {
    margin: 0;
  }

}
